<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Minesweeper</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="PageCtrl">
  <button ng-click="onNewGame()">New Game</button>

  <div ng-repeat="game in games">
    <button ng-click="onRemove($index)">Remove</button>
    <button ng-click="onClone(game)">Clone</button>

    <table id="field">
      <tr ng-repeat="row in game.tiles">
        <td ng-repeat="tile in row">
          <img class="tile" ng-click="onClick($event, tile, $parent.$index, $index)"
               ng-src="img/{{tile|image}}"/>
        </td>
      </tr>
    </table>

    <p>{{game.status}}</p>

  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
